<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>文章阅读</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->


    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/gloable.css" />
    <link rel="stylesheet" href="/css/nprogress.css" />
    <link rel="stylesheet" href="/css/blog.css" />

    <link rel="stylesheet" href="/editor.md-master/css/editormd.css"/>

    <script src="/editor.md-master/examples/js/jquery.min.js"></script>
    <script src="/editor.md-master/lib/marked.min.js"></script>
    <script src="/editor.md-master/lib/prettify.min.js"></script>
    <script src="/editor.md-master/lib/raphael.min.js"></script>
    <script src="/editor.md-master/lib/underscore.min.js"></script>
    <script src="/editor.md-master/lib/sequence-diagram.min.js"></script>
    <script src="/editor.md-master/lib/flowchart.min.js"></script>
    <script src="/editor.md-master/lib/jquery.flowchart.min.js"></script>
    <script src="/editor.md-master/editormd.amd.min.js"></script>

    <script type="text/javascript">
        var testEditor;
        $(function () {
            testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true,
            });});
    </script>
</head>
<body>
    <div class="header">
    </div>
    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo">Mr.dutu</a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a th:href="@{/index.html}">首页</a></li>
                        <li><a th:href="@{/article.html}">博客</a></li>
                        <li><a href="message.html">留言</a></li>
                        <li><a href="link.html">友链</a></li>
                    </ul>
                </nav>
                <a th:if="${session.user} eq null" onclick="login()"class="blog-user">
                    <i class="fa fa-weibo"></i>
                </a>
                <a th:if="${session.user} ne null"   class="blog-user">
                    <img src="image/lable/deaflut.png" onclick="logout()" th:attr="src=''+${session.user.get('profile_image_url')}" >

                </a>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
    <div class="doc-container" id="doc-container">
        <div class="container-fixed">
            <div class="col-content" style="width:100%">
                <div class="inner">
                    <article class="article-list">
                        <input type="hidden" value="@Model.BlogTypeID" id="blogtypeid" />
                        <section class="article-item">
                            <aside class="title" style="line-height:1.5;">
                                <h4 th:text="${blog.getTitle()}"> </h4>
                                <p class="fc-grey fs-14">
                                    <small>
                                        作者：<a href="javascript:void(0)" target="_blank" class="fc-link" th:text="${session.adminMessage.getUname()}"> </a>
                                    </small>
                                    <small class="ml10">浏览人数：<i class="readcount" th:text="${blog.getBrowse()}"> </i></small>
                                    <small class="ml10">更新于 <label th:text="${blog.getUpdtime()}"> </label> </small>
                                </p>
                            </aside>
                            <div class="time mt10" style="padding-bottom:0;">
                                <span class="day" th:text="${blog.getUpdtime().substring(8,10)}">21</span>
                                <span class="month fs-18">1
									<span class="fs-14" th:text="${blog.getUpdtime().substring(5,7)}">月</span>
								</span>
                                <span class="year fs-18 ml10" th:text="${blog.getUpdtime().substring(0,4)}"> 2019</span>
                            </div>
                            <div id="doc-content" style="width: 96.85%">
                                <textarea style="display:none;" th:text="${bt.getBt()}"></textarea>
                            </div>
                            <div class="content artiledetail" style="border-bottom: 1px solid #e1e2e0; padding-bottom: 20px;">
                                <div class="copyright mt20">
                                    <p class="f-toe fc-black">
                                        非特殊说明，本文版权归 赌徒 所有，转载请注明出处.
                                    </p>
                                    <p class="f-toe">
                                        本文标题：
                                        <a href="javascript:void(0)" class="r-title" th:text="${blog.getTitle()}"> </a>
                                    </p>
                                    <p class="f-toe">
                                        本文网址：
                                        <a href="#">........</a>
                                    </p>
                                </div>
                                <div id="aplayer" style="margin:5px 0"></div>
                                <h6>延伸阅读</h6>
                                <ol class="b-relation"></ol>
                            </div>
                            <div class="bdsharebuttonbox share" data-tag="share_1">
                                <ul>
                                    <li class="f-praise"><span><i class="fa fa-thumbs-o-up" style="color:#f46753"></i></span></li>
                                    <li class="f-weinxi"><i class="fa fa-weixin" style="color:#5ac64f"></i></li>
                                    <li class="f-sina"><i class="fa fa-weibo" style="color:#ff7171"></i></li>
                                    <li class="f-qq" href="#"><i class="fa fa-qq"></i></li>
                                </ul>
                            </div>
                            <div class="f-cb"></div>
                            <div class="mt20 f-fwn fs-24 fc-grey comment" style="border-top: 1px solid #e1e2e0; padding-top: 20px;">
                            </div>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>发表评论</legend>
                                <div class="layui-field-box">
                                    <div class="leavemessage" style="text-align:initial">
                                        <form class="layui-form blog-editor" action="">
                                            <input type="hidden" name="articleid" id="articleid" value="@Model.ID">
                                            <div class="layui-form-item">
                                                <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                            </div>
                                            <div class="layui-form-item">
                                                <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交留言</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </fieldset>
                            <ul class="blog-comment" id="blog-comment"></ul>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
                        <a href="javascript:void(0)" class="github" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="#" class="qq" target="_blank" ><i class="fa fa-qq"></i></a>
                        <a href="#" class="email" target="_blank" ><i class="fa fa-envelope"></i></a>
                        <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
                    </div>
                    <p class="mt05">
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/layui/layui.js"></script>
    <script src="/js/yss/gloable.js"></script>
    <script src="/js/plugins/nprogress.js"></script>
    <script src="/js/pagecomment.js"></script>
    <script>NProgress.start();</script>
    <script> 
        window.onload = function () {
            NProgress.done();
        };
    </script>

<!--    <script>
        var _RegisterBtn = function() {}
        _RegisterBtn.prototype = {
            /**
             * 第三方QQ登录
             */
/*            loginQQ: function() {
                let clientId = '101528188';
                let redirect_uri = 'http://22815l1b14.iask.in/thirdLogin/qqLogin';
                let state = '123456789';
                window.open(`https://graph.qq.com/oauth2.0/authorize?client_id=${clientId}&response_type=code&redirect_uri=${encodeURIComponent(redirect_uri)}&state=${state}`);
            },*/

            /**
             * 微博登录
             */
            weiboLogin: function(){
                let weiboAppId = '3452297360';
                let weiboAuthPath = 'http://dutu.link/thirdLogin/weiboLogin';
                window.open(`https://api.weibo.com/oauth2/authorize?client_id=${weiboAppId}&response_type=code&redirect_uri=${encodeURIComponent(weiboAuthPath)}`);
            },

            /**
             * 登录的回调函数
             */
            loginCallBack: function(data) {
                // 登录成功
                if (data.code == '1') {
                    window.top.location.reload();
                } else {
                    // 登录失败
                    layer.alert(data.message, {
                        icon: '2'
                    });
        }}
            }
        var oRegisterBtn = new _RegisterBtn();
    </script>-->
</body>
</html>
