<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <link rel="stylesheet" href="editor.md-master/css/editormd.css"/>

    <script src="editor.md-master/examples/js/jquery.min.js"></script>
    <script src="editor.md-master/editormd.amd.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var testEditor =  editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "/editor.md-master/lib/",//注意2：你的路径
                saveHTMLToTextarea: true//注意3：这个配置，方便post提交表单
            });

            $("#saveBt").click(function () {
                var ajaxResult = $.ajax({
                    "url": "/savebt",
                    "type": "post",
                    "data": {
                        "bt":testEditor.getMarkdown()
                    },
                    "async": false,
                    "dataType": "text"
                });
            });

        });


    </script>
</head>
<body>
<form >
    <div id="my-editormd">

        <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
        <!-- 注意：name属性的值-->
        <textarea id="my-editormd-html-code" name="bt" style="display:none;"></textarea>
    </div>

    <button id="saveBt" type="submit">save</button>
</form>

</body>
</html>